{% block stylesheets %}
{% endblock %}

<div class="form-group">

    {{ form_start(form) }}


    <div class="artist-errors">
        {{ form_errors(form) }}
    </div>

    <div class="container">
        <div class="form-group ">
            <p class="mb-0">{{ form_row(form.nom) }}</p>
            <br>
            <p class="mb-0">{{ form_row(form.pays) }}</p>
            <br>
            <p class="mb-0">{{ form_row(form.style) }}</p>
            <br>
            <p class="mb-0">{{ form_row(form.presentation) }}</p>
            <br>
            <p class="mb-0">{{ form_row(form.evenement) }}</p>
        </div>
    </div>

    <div class="container">
    <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}
    </div>
</div>



