{% extends 'base.html.twig' %}

{% block title %}Support{% endblock %}

{% block body %}
    <h1>Support</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ support.id }}</td>
            </tr>
            <tr>
                <th>Type_support</th>
                <td>{{ support.typeSupport }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ support.prix }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('support_index') }}">back to list</a>

    <a href="{{ path('support_edit', {'id': support.id}) }}">edit</a>

    {{ include('support/_delete_form.html.twig') }}
{% endblock %}
