{% block body %}

    <h2>Du même artiste</h2>
{% for S in selection %}

    {% if S != record %}

    <li>
        <a href="{{'http://localhost:8888/Symfony_J2/website-skeleton/public/index.php/record/' ~ S['id'] }}" >{{ S['titre'] | upper }}</a>
    </li>

    {% endif %}

    {% endfor %}
{#    {% for S in selection %}

        <div class="author sidenav" style="width:25%">
            <a href="#" class="w3-bar-item w3-button">{{ S.titre }}</a>
            <a href="#" class="w3-bar-item w3-button">{{ S.parution|date('Y-m-d') }}</a>
            <a href="#" class="w3-bar-item w3-button">{{ S.presentation }}</a>
        </div>

        <div style="margin-left:25%">
            ... page content ...
        </div>

    {% endfor %}#}

{% endblock %}

